body {
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}
.header-logo {
  width: 70%;
  margin-left: 20px;
}
.header-logo__img {
  padding-left: 30px;
}
.header-logo__title {
  margin: 0;
  padding-left: 50px;
  font-size: 30px;
}
.header-nav {
  width: 30%;
  font-size: 30px;
}
.header-nav__list {
  display: flex;
  list-style: none;
}
.header-nav__list__item {
  width: 50%;
}
.header-nav__list__item a {
  text-decoration: none;
  color: black;
}
.header-nav__list__item a:hover {
  color: brown;
}
.header-nav__list__item a .articles {
  font-size: 20px;
  color: beige;
}

.footer {
  height: 100px;
  background-color: burlywood;
  display: flex;
}
.footer-list {
  width: 90%;
  display: flex;
  align-items: center;
}
.footer-list__item {
  width: 50%;
  text-align: center;
  list-style: none;
}
.footer-list__item a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}
.header-logo {
  width: 70%;
  margin-left: 20px;
}
.header-logo__img {
  padding-left: 30px;
}
.header-logo__title {
  margin: 0;
  padding-left: 50px;
  font-size: 30px;
}
.header-nav {
  width: 30%;
  font-size: 30px;
}
.header-nav__list {
  display: flex;
  list-style: none;
}
.header-nav__list__item {
  width: 50%;
}
.header-nav__list__item a {
  text-decoration: none;
  color: black;
}
.header-nav__list__item a:hover {
  color: brown;
}
.header-nav__list__item a .articles {
  font-size: 20px;
  color: beige;
}

.footer {
  height: 100px;
  background-color: burlywood;
  display: flex;
}
.footer-list {
  width: 90%;
  display: flex;
  align-items: center;
}
.footer-list__item {
  width: 50%;
  text-align: center;
  list-style: none;
}
.footer-list__item a {
  text-decoration: none;
  color: black;
}

.product {
  width: 80%;
  height: 1000px;
  margin: auto;
  padding-top: 50px;
  background-color: beige;
}
.product-title {
  margin-top: 0;
  color: brown;
  text-align: center;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 0;
}
.product-list__item {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-list__item__img {
  width: 200px;
}
.product-list__item__description {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.product-list__item__description__span {
  color: brown;
  font-weight: bolder;
}
.product-list__item__description__button {
  margin-top: 20px;
  background-color: burlywood;
  border-color: white;
  color: white;
}

body {
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}
.header-logo {
  width: 70%;
  margin-left: 20px;
}
.header-logo__img {
  padding-left: 30px;
}
.header-logo__title {
  margin: 0;
  padding-left: 50px;
  font-size: 30px;
}
.header-nav {
  width: 30%;
  font-size: 30px;
}
.header-nav__list {
  display: flex;
  list-style: none;
}
.header-nav__list__item {
  width: 50%;
}
.header-nav__list__item a {
  text-decoration: none;
  color: black;
}
.header-nav__list__item a:hover {
  color: brown;
}
.header-nav__list__item a .articles {
  font-size: 20px;
  color: beige;
}

.footer {
  height: 100px;
  background-color: burlywood;
  display: flex;
}
.footer-list {
  width: 90%;
  display: flex;
  align-items: center;
}
.footer-list__item {
  width: 50%;
  text-align: center;
  list-style: none;
}
.footer-list__item a {
  text-decoration: none;
  color: black;
}

.details {
  width: 80%;
  height: 1000px;
  margin: auto;
  padding-top: 50px;
  background-color: beige;
}
.details-title {
  margin-top: 0;
  color: brown;
  text-align: center;
}
.details-teddy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-teddy img {
  width: 600px;
  padding-top: 20px;
}
.details-teddy__list {
  list-style: none;
  text-align: center;
  line-height: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.details-teddy__list #name_teddy {
  font-size: 50px;
  color: burlywood;
}
.details-teddy__list #description_teddy {
  width: 90%;
  margin-top: 50px;
  line-height: 20px;
}
.details-teddy__list #color_teddy {
  margin-top: 50px;
  font-size: 20px;
}
.details-teddy__list #color_option {
  width: 150px;
  color: burlywood;
  text-align-last: center;
  background-color: beige;
  font-size: 18px;
  border: solid 2px transparent;
}
.details-teddy__list #name_quantity {
  margin-left: 40px;
}
.details-teddy__list #quantity_option {
  width: 50px;
  color: burlywood;
  text-align-last: center;
  background-color: beige;
  font-size: 18px;
  border: solid 2px transparent;
}
.details-teddy__list #price_teddy {
  width: 200px;
  margin-top: 50px;
  border: solid 2px #993b19;
}
.details-teddy__list button {
  width: 200px;
  height: 30px;
  margin-top: 50px;
  color: #993b19;
  font-size: 18px;
  border: none;
  background-color: burlywood;
  text-align-last: center;
  border-radius: 10%;
}

body {
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}
.header-logo {
  width: 70%;
  margin-left: 20px;
}
.header-logo__img {
  padding-left: 30px;
}
.header-logo__title {
  margin: 0;
  padding-left: 50px;
  font-size: 30px;
}
.header-nav {
  width: 30%;
  font-size: 30px;
}
.header-nav__list {
  display: flex;
  list-style: none;
}
.header-nav__list__item {
  width: 50%;
}
.header-nav__list__item a {
  text-decoration: none;
  color: black;
}
.header-nav__list__item a:hover {
  color: brown;
}
.header-nav__list__item a .articles {
  font-size: 20px;
  color: beige;
}

.footer {
  height: 100px;
  background-color: burlywood;
  display: flex;
}
.footer-list {
  width: 90%;
  display: flex;
  align-items: center;
}
.footer-list__item {
  width: 50%;
  text-align: center;
  list-style: none;
}
.footer-list__item a {
  text-decoration: none;
  color: black;
}

.cart {
  width: 80%;
  margin: auto;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cart-items {
  width: 90%;
  margin-top: 20px;
  border: 3px solid burlywood;
}
.cart-items__title {
  width: 300px;
  margin-top: 30px;
  color: brown;
  text-decoration: underline;
}
.cart-items__list {
  width: 90%;
  height: 100%;
  padding-bottom: 10px;
  margin: 40px auto;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  border-bottom: dashed 1px black;
}
.cart-items__list #description {
  line-height: 20px;
  width: 50%;
}
.cart-items__list__li {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-items__list__li__entitled {
  width: 100%;
  height: 50px;
  margin: 0;
  color: brown;
  text-decoration: underline;
}
.cart-items__list__li img {
  width: 100px;
}
.cart-items__list__li .name {
  width: 100%;
  font-size: 18px;
  font-weight: bolder;
  color: black;
}
.cart-items__list__li .description {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.cart-items__list__li #quantity_option {
  width: 50px;
  color: black;
  text-align-last: center;
  background-color: beige;
  font-size: 15px;
  border: solid 2px transparent;
}
.cart-items__list #delete {
  display: flex;
  align-items: center;
  color: brown;
  font-weight: bolder;
}
.cart-total {
  width: 40%;
  margin: 40px 0px;
  border: 3px solid burlywood;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-total__list {
  height: 100%;
  padding: 0;
  margin: 20px 0px;
  list-style-type: none;
  text-align: center;
  line-height: 50px;
}
.cart-total__list #total {
  color: brown;
  font-weight: bolder;
  font-size: 18px;
}
.cart-validation {
  width: 400px;
  height: 40px;
  text-align-last: center;
  background-color: burlywood;
  color: beige;
  font-size: 18px;
  border: none;
  font-weight: bolder;
  border-radius: 10%;
  margin-bottom: 30px;
}

body {
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}
.header-logo {
  width: 70%;
  margin-left: 20px;
}
.header-logo__img {
  padding-left: 30px;
}
.header-logo__title {
  margin: 0;
  padding-left: 50px;
  font-size: 30px;
}
.header-nav {
  width: 30%;
  font-size: 30px;
}
.header-nav__list {
  display: flex;
  list-style: none;
}
.header-nav__list__item {
  width: 50%;
}
.header-nav__list__item a {
  text-decoration: none;
  color: black;
}
.header-nav__list__item a:hover {
  color: brown;
}
.header-nav__list__item a .articles {
  font-size: 20px;
  color: beige;
}

.footer {
  height: 100px;
  background-color: burlywood;
  display: flex;
}
.footer-list {
  width: 90%;
  display: flex;
  align-items: center;
}
.footer-list__item {
  width: 50%;
  text-align: center;
  list-style: none;
}
.footer-list__item a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
