body {
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}
.header-logo {
  width: 70%;
  margin-left: 20px;
}
.header-logo__img {
  padding-left: 30px;
}
.header-logo__title {
  margin: 0;
  padding-left: 50px;
  font-size: 30px;
}
.header-nav {
  width: 30%;
  font-size: 30px;
}
.header-nav__list {
  display: flex;
  list-style: none;
}
.header-nav__list__item {
  width: 50%;
}
.header-nav__list__item a {
  text-decoration: none;
  color: black;
}
.header-nav__list__item a:hover {
  color: brown;
}

.product {
  width: 80%;
  height: 1000px;
  margin: auto;
  padding-top: 50px;
  background-color: beige;
}
.product-title {
  margin-top: 0;
  color: brown;
  text-align: center;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 0;
}
.product-list__item {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-list__item__img {
  width: 200px;
}
.product-list__item__description {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.product-list__item__description__span {
  color: brown;
  font-weight: bolder;
}
.product-list__item__description__button {
  margin-top: 20px;
  background-color: burlywood;
  border-color: white;
  color: white;
}

.footer {
  height: 100px;
  background-color: burlywood;
  display: flex;
}
.footer-list {
  width: 90%;
  display: flex;
  align-items: center;
}
.footer-list__item {
  width: 50%;
  text-align: center;
  list-style: none;
}
.footer-list__item a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}
.header-logo {
  width: 70%;
  margin-left: 20px;
}
.header-logo__img {
  padding-left: 30px;
}
.header-logo__title {
  margin: 0;
  padding-left: 50px;
  font-size: 30px;
}
.header-nav {
  width: 30%;
  font-size: 30px;
}
.header-nav__list {
  display: flex;
  list-style: none;
}
.header-nav__list__item {
  width: 50%;
}
.header-nav__list__item a {
  text-decoration: none;
  color: black;
}
.header-nav__list__item a:hover {
  color: brown;
}

.details {
  width: 80%;
  height: 800px;
  margin: auto;
  padding-top: 50px;
  background-color: beige;
}
.details-title {
  margin-top: 0;
  color: brown;
  text-align: center;
}
.details-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-product img {
  width: 600px;
  padding-top: 20px;
}
.details-product__list {
  list-style: none;
  text-align: center;
  line-height: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-product__list #name_product {
  font-size: 50px;
  color: burlywood;
}
.details-product__list #description_product {
  width: 90%;
  margin-top: 30px;
  line-height: 20px;
}
.details-product__list #color_option {
  margin-top: 30px;
  font-size: 20px;
}
.details-product__list #price_product {
  width: 200px;
  margin-top: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: solid 2px #993b19;
}

.footer {
  height: 100px;
  background-color: burlywood;
  display: flex;
}
.footer-list {
  width: 90%;
  display: flex;
  align-items: center;
}
.footer-list__item {
  width: 50%;
  text-align: center;
  list-style: none;
}
.footer-list__item a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
