body
{
    width: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.header
{
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;

    &-logo
    {
        width: 70%;
        margin-left: 20px;

        &__img
        {
            padding-left: 30px;
        }

        &__title
        {
            margin: 0;
            padding-left: 50px;
            font-size: 30px;
        }
    }

    &-nav
    {
        width: 30%;
        font-size: 30px;
    
        &__list
        {
            display: flex;
            list-style: none;
    
            &__item
            {
                width: 50%;
                
                a
                {
                    text-decoration: none;
                    color: black;
    
                    &:hover
                    {
                        color: brown;
                    }
                }
            }
        }
    }
}

.details
{
    width: 80%;
    height: 800px;
    margin: auto;
    padding-top: 50px;
    background-color: beige;

    &-title
    {
        margin-top: 0;
        color: brown;
        text-align: center;
    }

    &-product
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img 
        {
            width: 600px;
            padding-top: 20px;
        }

        &__list
        {
            list-style: none;
            text-align: center;
            line-height: 40px;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #name_product
            {
                font-size: 50px;
                color: burlywood;   
            }

            #description_product
            {
                width: 90%;
                margin-top: 30px;
                line-height: 20px;
            }

            #color_option
            {
                margin-top: 30px;
                font-size: 20px;
            }

            #price_product
            {
                width: 200px;
                margin-top: 35px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                border: solid 2px rgb(153, 59, 25);
            }
        }
    }
}

.footer
{
    height: 100px;
    background-color: burlywood;
    display: flex;

    &-list 
    {
        width: 90%;
        display: flex;
        align-items: center;

        &__item
        {
            width: 50%;
            text-align: center;
            list-style: none;

            a
            {
                text-decoration: none;
                color: black;
            }
        }
    }
}