@import "../base/general";

.details
{
    width: 80%;
    height: 1000px;
    margin: auto;
    padding-top: 50px;
    background-color: beige;

    &-title
    {
        margin-top: 0;
        color: brown;
        text-align: center;
    }

    &-teddy
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img 
        {
            width: 600px;
            padding-top: 20px;
        }

        &__list
        {
            list-style: none;
            text-align: center;
            line-height: 40px;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            #name_teddy
            {
                font-size: 50px;
                color: burlywood;   
            }

            #description_teddy
            {
                width: 90%;
                margin-top: 50px;
                line-height: 20px;
            }

            #color_teddy
            {
                margin-top: 50px;
                font-size: 20px;
            }

            #color_option
            {
                width: 150px;
                color:burlywood;
                text-align-last: center;
                background-color: beige;
                font-size: 18px;
                border: solid 2px transparent;
            }

            #name_quantity
            {
                margin-left: 40px;
            }

            #quantity_option
            {
                width: 50px;
                color:burlywood;
                text-align-last: center;
                background-color: beige;
                font-size: 18px;
                border: solid 2px transparent;
            }

            #price_teddy
            {
                width: 200px;
                margin-top: 50px;
                border: solid 2px rgb(153, 59, 25);
            }

            button 
            {
                width: 200px;
                height: 30px;
                margin-top: 50px;
                color:rgb(153, 59, 25);
                font-size: 18px;
                border: none;
                background-color: burlywood;
                text-align-last: center;
                border-radius: 10%;
            }
        
        }

    }

}
